body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    animation: moveWelcome 2s linear infinite; /* Add animation properties */
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

/* Define the moveWelcome animation */
@keyframes moveWelcome {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Move the message 20px to the right */
    }
    100% {
        transform: translateX(0);
    }
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

section.content {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #3498db;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
